.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
}

.forecastedDays {
  display: flex;
  justify-content: center;
}

.forecastedDay {
  display: flex;
  margin: 10px;
  white-space: pre-line;
}

.BackgroundPhotoContainer {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.BackgroundPhoto {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.LocationTitle {
  font-size: clamp(35px, 37px, 40px);
  /* font-size: 35px; */
}

.LocationInput {
  position: relative;
  z-index: 1;
}

.largeWeatherIcon {
  width: 8%;
}