.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
}

.forecastedDays {
  display: flex;
  justify-content: center;
}

.forecastedDay {
  display: flex;
  margin: 10px; /* Add margin for spacing between columns */
  white-space: pre-line; /* Preserve line breaks within the element */
}
