.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 20px;
  min-height: calc(100vh - 40px);
}

.ContentContainer {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: min-content;
}

ul {
  list-style-type: none;
}

.forecastedDays {
  display: flex;
  justify-content: center;
}

.BackgroundPhotoContainer {
  min-height: 100vh;
  width: 100vw;
  position: absolute;
}

.BackgroundPhoto {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.LocationTitle {
  font-size: 40px;
  font-weight: bold;
}

.LocationInput {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.InputBox {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 3px;
  font-size: 17px;
}

.InputBox:focus {
  border: 3px solid white;
  box-shadow: 0 0 10px white;
}

.Button {
  padding: 6px;
  font-weight: bold;
}

.largeWeatherIcon {
  width: 8%;
  min-width: 100px;
  padding: 15px;
}

.TodaysWeatherData {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.TodaysWeatherContainer {
  padding-bottom: 20px;
  border-bottom: 2px solid white;
}

.ForecastedWeatherContainer {
  padding: 20px 0 20px 0;
}

.forecastTitle {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.forecastedDay {
  display: flex;
  margin: 10px;
  white-space: pre-line;
  padding: 0 5px 0 5px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 120px;
}

.smallWeatherIcon {
  width: 50px;
  padding: 15px;
}

@media screen and (max-width: 900px) {
  .forecastedDays {
    flex-direction: column;
    align-items: end;
  }

  .forecastedDay {
    flex-direction: row;
    white-space: nowrap;
    width: fit-content;
    padding: 0;
    margin: 0;
  }

  .ContentContainer {

    width: min-content;
  }

  .smallWeatherIcon {
    padding: 2px 0 0 10px;
  }

  .largeWeatherIcon {
    padding: 5px;
    min-width: 70px;
  }

  .LocationTitle {
    font-size: 30px;
  }

  .TodaysWeatherData {
    font-size: 16px;
}


}